@{
    ViewBag.Title = "Add a property";
    Layout = "~/Views/Shared/_AgentManagementLayout.cshtml";
}
<div class="containerPadding">
<h2>Add Property</h2>
    @{Html.BeginForm("AddProperty", "AgentManagement");}
    
        @Html.Partial("PropertyForm", new Lettings.Web.Mvc.Controllers.ViewModels.PropertyEdit())
    @{Html.EndForm();}
</div>