@model Lettings.Web.Mvc.Controllers.ViewModels.AgentFatView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AgentManagementLayout.cshtml";
}
<div class="containerPadding">
   
   @{Html.RenderPartial("AgentView", Model);}

     <section>
        <h1>Properties</h1>

        @{Html.RenderAction("PropertiesGrid");}

        @Html.ActionLink("Add Property", "AddProperty", null, new {@class="btn primary large" });
    </section>
</div>

