@{
    ViewBag.Title = "Landlords";
    Layout = "~/Views/Shared/_AgentManagementLayout.cshtml";
}

<div class="row containerPadding">
    <div class="breadcrumbs">
        <ul>
            <li>Landlords</li>
        </ul>
    </div>

    <h1>Landlords</h1>


</div>
