@{
    ViewBag.Title = "Tenants";
    Layout = "~/Views/Shared/_AgentManagementLayout.cshtml";
}

<div class="row containerPadding">
    <div class="breadcrumbs">
        <ul>
            <li>Tenants</li>
        </ul>
    </div>

    <h1>Tenants</h1>


</div>
