
.input-validation-error {
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.input-validation-error {
  border-color: red;
}

.containerPadding { margin-top:75px; }

section h1 {
  font-size: 24px;
  line-height: 36px;
}

.searchtextbox { font-size:200%;  }

.disabled-visible {  background-color:transparent;}

.breadcrumbs ul { margin:0; padding:0; list-style:none; clear:both; }

.breadcrumbs ul li  { margin:0; padding:0 10px 0 0; list-style:none; float:left; }

.inline-edit-list { list-style:none; padding:0; margin:0 0 10px 0;}

.inline-edit-list li { padding:2 0; margin:1 0; }

.inline-edit-list li.hover { background-color:#dedede; }