@model Lettings.Web.Mvc.Controllers.ViewModels.AgentFatView
@{
    ViewBag.Title = "View Agent";
    Layout = "~/Views/Shared/_AgentManagementLayout.cshtml";
}
<div class="containerPadding">

     <div class="breadcrumbs clearfix">
        <ul>
            <li>@Html.ActionLink("Admin home", "Index", "Admin")</li>
            <li> > @Model.Name</li>
        </ul>
    </div>
    @{Html.RenderPartial("AgentView", Model);}
</div>