@model Lettings.Web.Mvc.Controllers.ViewModels.AgentFatView
@{
    ViewBag.Title = "View Agent";
    Layout = "~/Views/Shared/_AgentManagementLayout.cshtml";
}
<div class="containerPadding">
    <h1>@Model.Name</h1>
    @{Html.RenderPartial("AgentView", Model);}
</div>